URL=https://automationexercise.com
API_URL=https://automationexercise.com/api/
TEST_EMAIL=example@test.com
TEST_PASSWORD=password123
TEST_CASE_URL=https://github.com/qajonatasmartins/triade.estruturas-book.typescript/issues/